
  * {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar {
    background-color:#343434;
    padding-right: 15px;
    padding-left: 15px;
  }
/* understand the below */
  .navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60PX;
  }
  .admin {
    font-size: 20px;
    font-weight: 600px;
    color:white;
  }
  .buttonNav {
    border: none;
    background-color: #336fc8;
    padding:10px;
    width:75px;
    height: 15;
    color:white;
    font-size: 15px;
    border-radius: 7%;
  }
  body {
    background:
    linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
    linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
    #f2f2f2;
    background-size:
    15px 15px,
    15px 15px,
    90px 90px,
    90px 90px,
    90px 90px,
    90px 90px,
    90px 90px,
    90px 90px;
    border: 25px solid rgb(9, 9, 9);  
    border-bottom:30px solid rgb(6, 6, 6);
    border-top:40px solid rgb(0, 0, 0);
    margin: 0px;  
    padding-bottom: 106px;
    outline-offset: 0.5em;  
}
.container {
  width: 540px;
  background: #fff;
  margin: 50px auto 20px;
  border-radius:3px ;
  border: 1px solid#a8a8a8;
}
.header {
  display: flex;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom:10px;
  padding-right:0;
}
.headerdiv {
  display: flex;
  background-color:#eae9e9;
  width: 540px;
  height: 50px;
  border-bottom: 1px solid #a8a8a8;
}
.inputdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:8px;
  margin-bottom: 25px;
  margin-top: 15px;
}
input {
  flex: 1;
  border:0.5px solid #a8a8a8;
  border-right: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.submitBtn {
  border:2px solid #336fc8;
  padding: 10px;
  background-color: #336fc8;
  color:white;
  cursor: pointer;
  text-align: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 14px;
}
ul { 
 padding-left: 20px;
 padding-right: 20px;
}
ul li {
  height:35px;
  list-style:none;
  font-size:17px;
  padding: 25px 8px 12px 50px;
  user-select:none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content:'';
  position:absolute;
  height: 13px;
  width: 13px;
  border-radius: 3px;
  background-color: #e2e1e1;
  background-size: cover;
  border:0.5px solid #a8a8a8;
  top:25px;
  left:15px;
}
ul li.checked::before {
  background-image: url(checked.png);
}
ul li:nth-child(odd) {
  background: #f3f2f2;
  border:0.5px solid #d0cfcf;
}
ul li:nth-child(even) {
  border-left:0.5px solid #d0cfcf;
  border-right:0.5px solid #d0cfcf;
}
ul li remove {
position: absolute;
right: 8px;
top:17px;
width:24px;
height:24px;
text-align: center;
border-radius: 3px;
background-color: #c03838;
background-image: url(bin.png);
background-size: cover;
border:7px solid  #c03838;
}
ul li edit {
position: absolute;
right: 50px;
top:17px;
width:24px;
height: 24px;
text-align: center;
border-radius: 3px;
background-color: #4cc038;
background-image: url(editing.png);
background-size: cover;
border:7px solid  #4cc038;
}

















